<div id="profile_image">
  <%= image_tag "profile.jpg"%>
</div>

<div id="content">
  <h1> Massachusets College Of Liberal Arts (MCLA) </h1>
  <h5 style="text-align: center;">375 Church Street North Adams, MA 01247</h5>

</div>
